<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxButton="icon" igxRipple>
      <igx-icon>menu</igx-icon>
    </button>
  </igx-navbar-action>
  <ng-container>
    <button igxButton="icon" igxRipple>
      <igx-icon>search</igx-icon>
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>favorite</igx-icon>
    </button>
    <button igxButton="icon" igxRipple>
      <igx-icon>more_vert</igx-icon>
    </button>
  </ng-container>
  <div igxNavbarTitle class="navbar_title_bar">
    <span>Screen Title</span>
  </div>
</igx-navbar>
<div class="group row">
  <img src="/assets/53c4f9a7b7f5f730460a0235b717b99679251327.png" class="image" />
</div>
