<igx-slider type="slider" [value]="0" tickLabelsOrientation="horizontal" [step]="10" [minValue]="0" [maxValue]="60" [primaryTicks]="3" [secondaryTicks]="2" ticksOrientation="mirror" [showTicks]="true" class="slider"></igx-slider>
<igx-slider type="slider" [value]="0" [continuous]="true" tickLabelsOrientation="horizontal" [step]="10" [minValue]="0" [maxValue]="60" [primaryTicks]="3" [secondaryTicks]="2" ticksOrientation="bottom" [showTicks]="true" class="slider"></igx-slider>
<igx-slider type="slider" [value]="0" [continuous]="true" tickLabelsOrientation="horizontal" [step]="10" [minValue]="0" [maxValue]="60" [primaryTicks]="3" [secondaryTicks]="2" ticksOrientation="bottom" [showTicks]="true" class="slider"></igx-slider>
<igx-buttongroup alignment="horizontal" class="button-group">
  <button igxButton="flat" igxRipple>Button</button>
  <button igxButton="flat" igxRipple>Button</button>
  <button igxButton="flat" igxRipple>Button</button>
</igx-buttongroup>
<button igxButton="raised" igxRipple class="button">Button</button>
